@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  font-feature-settings: "cv11", "ss01", "ss03";
}

.scrollbar-thin::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #d4d8e0;
  border-radius: 6px;
}
.scrollbar-thin::-webkit-scrollbar-track {
  background-color: transparent;
}
